* {
  text-align: center;
}

.card {
  width: 20vw;
  height: 40vh;

  margin: 1vw;
  padding: 5px;

  background-color: aqua;
  border-radius: 5px;
}

#cardsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

img {
  width: 150px;
  display: block;
  margin: 0 auto;
  aspect-ratio: 1;
}