* {
  text-align: center;
}

.card {
  width: 15vw;
  height: 30vh;

  padding: 5px;

  background-color: aqua;
  border-radius: 5px;
}

#cardsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

img {
  width: 100px;
  aspect-ratio: 1;
}

img{
  margin: 0 auto;
}