* {
  text-align: center;
}

p{
  font-size: 20px;
}

.card {
  width: 300px;
  margin: 1vw;
  padding: 5px;
  background-color: #d6d5d6;
  border-radius: 5px;
}

.card p#job {
  margin-bottom: 45px;
}

#cardsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

img {
  width: 70%;
  display: block;
  margin: 5% auto;
  aspect-ratio: 1;
  border-radius: 5px;
}

div#newCard input {
  width: 60%;
  margin: 2% auto;
  padding: 0.5%;
  border-radius: 5px
}

p#error {
  color: red;
  text-align: center;
}

button#createNewCard {
  width: 40%;
  margin: 0 auto;
  padding: 1%
}